/* html, body {
    margin: 10px;
    display: flex;
    justify-content: center;
   
    color: rgb(228, 219, 219);
    font-size: larger; 
}
div {
    background-color: black; 
    border-radius: 10px; 
    
}
span {
    padding: 20px;
    color: white;
   
} */
